.category-page--wrap {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
}

.add-category-left {
    padding: 10px;
}

.btn-class-category-page {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    top: -5px;
    left: -5px;
    box-shadow: 5px 5px #000;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    background: radial-gradient(circle, rgba(148, 187, 233, 1) 0%, rgba(238, 174, 202, 1) 100%);
    transform: translate(-5px, -5px);
}

.btn-class-category-page:hover {
    box-shadow: none;
    transform: translate(0, 0);
}