.add-combo-page-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.section-left-acpw,
.section-right-acpw {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pp-acpw {
    display: grid;
    gap: 15px;
}

.productArraymap--selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border: 1px solid #c0c0c0;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 3px;
    position: relative;

    p {
        font-weight: 600;
        font-family: var(--f2);
        color: var(--secondary-text);
        width: calc(100% - 30px);
        max-width: 230px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    img {
        border-radius: 10px;
    }
}

.remove-icon--selected-pam {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--failed);
    border: none;
    cursor: pointer;

    svg {
        height: 15px;
        width: 15px;
    }
}